// COLORS
$black: #0b0b0b;
$dark: #181818;
$white: #fcfcfc;
$white-opacity-02: rgba(252, 252, 252, .2);

$dark-blue: #080029;
$blue: #0f0049;
$active-blue: #150068;
$hard-blue: #3888ff;

$light-blue: #609fff;
$wight-blue: #d9e8ff;

$gray: #747474;
$footer-nav: #bcbcbc;
$light-gray: #d3d3d3;
$super-light-gray: #f0f0f0;


